name: CI Workflow

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Run echo command
      run: echo "CI is working!"
      
    - name: Show current date
      run: date
      
    - name: Show files list
      run: ls -la
